.vscode/
.vscode

.eslintrc

yarn.lock
package-lock.json

node_modules/
node_modules/*

# configfile
.env
docker-compose.*
docker-compose.debug.*

*/node_modules
./node_modules/*
node_modules/*
node_modules/
yarn.lock
.eslintrc

log/*
/log/*
/bin/log
/bin/log/*
*.log

calculationLog/*
*/calculationLog
/middlewares/bin/calculationLog
/bin/calculationLog

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/*
/.pnp
.pnp.js

.eslintrc

yarn.lock
# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.github
node_websocket/bin/log/.4656d4b69a1bdd3f78a7960fb7be9313031a78bb-audit.json
node_websocket/bin/log/.095c09e3523e69374ed428d1a39c4cde0127627b-audit.json
node_websocket/bin/log/.4656d4b69a1bdd3f78a7960fb7be9313031a78bb-audit.json
node_websocket/views/test.ejs
node_websocket/public/requestImgSync.js
node_websocket/public/testrequestImg.js
node_websocket/requestImgSync.js
node_websocket/views/browsercheck.ejs