@font-face {
  font-family: 'KOTRA';
  src: url('/public/fonts/KOTRA_BOLD.ttf');
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: auto;
  position: fixed;
  display:flex;
  justify-content: flex-end;

}

.live-commerce {
  width:96.9%;
  height:94.5%;
  position:relative
}

/* 하단영역 */
.bottom-area-wrapper {
  width: 100%;
  height: 6%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom-left{
  width:22.5%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;
}

.bottom-object {
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-object p{
  font-family: 'KOTRA';
  font-size: 23px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

.bottom-timer {
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'KOTRA';
  font-size: 23px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

.bottom-timer span {
  width:10%;
  display:flex;
  justify-content: space-around;
}

.bottom-area {
  width: 77.5%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-area-text#bottom-admin {
  margin-right: 0;
  color: #ffffff;
  font-size: 23px;
}

.bottom-area p:after {
  content: '';
  white-space: nowrap;
  padding-right: 100%;
}

.bottom-area-text {
  font-family: 'KOTRA';
  margin-right: 100%;
  font-size: 23px;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}

.bottom-area p {
  padding-left: 100%;
  display: inline-block;
  white-space: nowrap;
  -webkit-animation-name: marquee;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: marquee;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: marquee;
  -ms-animation-timing-function: linear;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: marquee;
  -o-animation-timing-function: linear;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0%);
  }
  99%,
  to {
    -webkit-transform: translate(-100%);
  }
}

@-moz-keyframes marquee {
  from {
    -moz-transform: translate(0%);
  }
  99%,
  to {
    -moz-transform: translate(-100%);
  }
}

@-ms-keyframes marquee {
  from {
    -ms-transform: translate(0%);
  }
  99%,
  to {
    -ms-transform: translate(-100%);
  }
}

@-o-keyframes marquee {
  from {
    -o-transform: translate(0%);
  }
  99%,
  to {
    -o-transform: translate(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }
  99%,
  to {
    transform: translate(-100%);
  }
}
/* 좌측 영역 */
.left-section {
  float: left;
  width: 22.5%;
  height: 94%;
  position: relative;
}

/* 좌측 상단 랭킹 */
.ranking-area {
  display: flex;
  top:6.5%;
  width: 100%;
  height: 31%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ranking-area-inner {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ranking-text-area {
  width:100%;
  height:27%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  font-family: 'KOTRA';
  font-size: 25px;
  color: #ffffff;
  -webkit-text-stroke: 1px black;
}

.ranking-text-area#title {
  height:15%;
  margin-bottom:0;
  font-size:30px;
  color:#F5F171;
}

.ranking-text-area-id {
  margin-left:2%;
  font-size: 25px;
  color: #27b9ac;
  -webkit-text-stroke: 1px black;
}

#ranking-icon {
  width: 15%;
  margin-right: 0.005%;
}

/* 좌측 배너영역 */
.left-banner-area {
  width: 100%;
  height: 62.5%;
  left: 0%;
  bottom: 0%;
  position: absolute;
}

/* 우측 상단 응원메세지 영역 */
.top-right {
  display: flex;
  width: 34.4%;
  height: 44.5%;
  top: 9.5%;
  right: 3%;
  position: fixed;
}

.donation-wrapper{
  width:100%;
  height:100%
}

.centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  -webkit-text-stroke: 1.5px rgb(46, 45, 45);
  font-family: 'KOTRA';
}

.animated.heartbeat {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

#donation-user-id {
  font-size: 40px;
  font-weight: bold;
  color: #32c3a6;
}

#donation-num {
  font-size: 40px;
  font-weight: bold;
  color: #32c3a6;
}

#message {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

#donation-sub {
  color: rgb(255, 255, 255);
}

.donation-image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

#donation-top {
  margin: 6px;
}

/* 가상광고 */
.virtual-ad {
  position:fixed;
  bottom:10.7%;
  right:0px;
  width:40.6%;
  height:39%;
}

.virtual-ad img{
  width:100%;
  height:100%;
}