.marquee {
  padding: 0.5em 0;
  overflow: hidden;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.marquee p:after {
  content: "";
  white-space: nowrap;
  padding-right: 25px;
}

.marquee p {
  margin: 0;
  padding-left: 100%;
  display: inline-block;
  white-space: nowrap;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  -webkit-animation-name: marquee;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: marquee;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: marquee;
  -ms-animation-timing-function: linear;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -o-animation-name: marquee;
  -o-animation-timing-function: linear;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate(0%);
  }

  99%,
  to {
    -webkit-transform: translate(-100%);
  }
}

@-moz-keyframes marquee {
  from {
    -moz-transform: translate(0%);
  }

  99%,
  to {
    -moz-transform: translate(-100%);
  }
}

@-ms-keyframes marquee {
  from {
    -ms-transform: translate(0%);
  }

  99%,
  to {
    -ms-transform: translate(-100%);
  }
}

@-o-keyframes marquee {
  from {
    -o-transform: translate(0%);
  }

  99%,
  to {
    -o-transform: translate(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }

  99%,
  to {
    transform: translate(-100%);
  }
}