<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>회원가입</h1>
    <p>DB에 넣을 데이터를 입력하세요.</p>
    <div class="container">
      <form action="/regist" method="POST">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="userid" required>
        <br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passwd" required>
        
        <button type="submit">submit</button>
        <br>
      </form>
    </div>
  </body>
</html>
