*/node_modules
./node_modules/*
node_modules/*
node_modules/
yarn.lock
.eslintrc

log/*
/log/*
/bin/log
*.log
/bin/log/*.json
/log

calculationLog/*
*/calculationLog
/middlewares/bin/calculationLog
/bin/calculationLog

/banners/*
/local/*

/dist/*

ngrok.exe

rare-*.json

client_deprecated.ejs