<html>

<head>
  <style>
    .loader {
      border: 16px solid #f3f3f3;
      /* Light grey */
      border-top: 16px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1.5s ease-in-out infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
  <title>OnAD - 1인 미디어 광고 플랫폼</title>
  <script>
    localStorage.clear();
    window.onload = function () {
      if (!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload(true);
      }
    }
  </script>
</head>

<body>
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <% if (message === '광고주 페이지로 이동중입니다...') { %>
    <div class="loader"></div>
    <% } else { %>
    <img src=https://onad-static-files.s3.ap-northeast-2.amazonaws.com/onad_logo_blue.jpg height=160px></img>
    <% } %>
    <h3 style="font-weight: 600;"><%= message %></h3>
    <a href="<%= twitchlink %>"><%= twitchlink %></a>
  </div>
</body>

</html>