<html>

<head>
  <title>
    웹브라우저를 통한 접근
  </title>
  <style>
    .text-area {
      height:100%;
      background-color: #d1d1d1d9;
      padding-top:3%
    }
    p {
      font-size: 25%;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="text-area">
    <p>방송 송출 프로그램을 통해 접속해주세요.</p>
    <p>방송 송출 프로그램에서 이 창이 뜬다면 소스 삭제 후 다시 등록해주세요.</p>
    <p>추가 문의는 온애드 카카오 플러스 친구 또는 고객센터로 문의해주세요.</p>
    <p>고객센터 E-MAIL : support@onad.io</p>
  </div>
</body>

</html>