<html>

<head>
  <title>
    잘못된 주소
  </title>
  <style>
    .text-area {
      height:100%;
      background-color: #d1d1d1d9;
      padding-top:3%
    }
    p {
      font-size: 25%;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="text-area">
    <p>
      등록되지 않은 URL 주소입니다. 주소를 다시 한 번 확인해주세요.
    </p>
    <p>
      만약 올바르게 입력했는데, 이 경고창이 뜬다면 소스 등록을 다시 해주세요.
    </p>
    <p>
      추가 문의는 온애드 카카오 플러스 친구 또는 고객센터로 문의해주세요.
    </p>
    <p>고객센터 support@onad.io</p>
  </div>
</body>

</html>