@font-face {
    font-family: 'NotoSansKR-Black';
    src: url(./fonts/NotoSansKR-Black.otf) format('truetype');
}

@font-face {
    font-family: 'NotoSansKR-Regular';
    src: url(./fonts/NotoSansKR-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url(./fonts/AppleSDGothicNeoB.ttf) format('truetype');
}

@font-face {
    font-family: 'AppleSDGothicNeoR';
    src: url(./fonts/AppleSDGothicNeoR.ttf) format('truetype');
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background-color: #eeeeee;
    margin: 0;
    font-weight: 300;
    line-height: 1.5em;
}

* {
    font-family: "AppleSDGothicNeoR", "NotoSansKR-Regular", "Arial", "sans-serif" !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: 0;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
}

h1 {
    font-size: 3em;
    line-height: 1.15em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}
