<html>
  <head>
    <title>
      웹브라우저를 통한 접근
    </title>
  </head>
  <body>
    OBS 또는 XSplit 프로그램을 통해 접속해주세요.
    <br>
    만약 OBS나 XSplit 프로그램인데, 이 창이 뜬다면 배너창을 완전히 끈 후, 다시 켜주세요.
    <br>
    그래도 해결되지 않는다면 고객센터로 문의해주시길 바랍니다.
  </body>

</html>