<html>

<head>
    <title>onAd Banner Program 1.0.0</title>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src='/public/client.js'></script>

    <div id="imgMessage"></div>
    <div id="qrcode"></div>
</body>

</html>