<html>
    <head>
        <title>banner_page</title>
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src='/public/client.js'></script>

        <div id="imgMessage"></div>
    </body>
</html>