<html>

<head>
  <title>
    중복접속입니다
  </title>
  <style>
    body {
      font-size: 15px;
      font-weight: bold;
    }

    p#dup {
      font-size: 20px;
    }

    span {
      font-size: 25px;
      color: red;
    }
  </style>
</head>

<body>
  죄송합니다. 중복 접속입니다.
  <p id="dup"><span>현재 켜져있는 배너창이 있습니다. OBS나 XSPLIT 프로그램 또는 브라우저에서 배너창이 띄워져 있는지 확인해주세요.</span></p>
  <br>
  배너창을 종료 후, 다시 실행하면 문제가 해결될 수 있습니다.
  <br>
  그래도 해결되지 않으면 고객센터로 문의해주세요. 신속히 조치해드리겠습니다.
  <p>고객센터 E-MAIL : support@onad.io</p>
</body>

</html>