<html>

<head>
  <title>
    testpage
  </title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src='/public/marquee.js'></script>
</head>

<body>

  <div class="marquee">
    <p class="text-area">광고문의 바랍니다. https://onad.io 051-123-4566</p>
  </div>

</body>

</html>