<html>
  <head>
    <title>
      경고창
    </title>
  </head>
  <body>
    등록된 IP가 아닙니다. 등록된 IP에서 방송을 켜시거나, IP를 새로 등록해주세요.
    <br>
    만약 등록된 IP인데, 이 경고창이 뜬다면 새로 창을 켜시거나 고객센터로 문의하여주시면, 신속히 조치를 취하겠습니다.
  </body>

</html>