<html>
  <head>
    <title>
      IP 경고창
    </title>
    <style>
      body {
        font-size : 15px;
        font-weight: bold;
      }
      p#changeip {
        font-size:20px; 
      }
      span{
        font-size:25px;
        color:red;
      }
    </style>
  </head>
  <body>
    죄송합니다. 등록된 IP가 아닙니다. 등록된 IP에서 방송을 켜시거나, IP를 새로 등록해주세요.
    <br>
    <p id="changeip">온애드 홈페이지에서 <span><대시보드 - 계정관리 - IP변경하기></span>를 통해 IP를 변경할 수 있습니다.</p>
    <p>최초 자동등록된 IP는 처음 온애드에 가입한 기기의 IP입니다.</p>
    
    만약 등록된 IP인데, 이 경고창이 뜬다면 새로 창을 켜시거나 고객센터로 문의하여주시면, 신속히 조치해드리겠습니다.
    <p>고객센터 E-MAIL : support@onad.io</p>
  </body>

</html>