<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src='/lib/bundle.js'></script>
    <link href='/public/layout.css' rel='stylesheet'>

    <script>
      const exports = {};
    </script>
  </head>

  <body>
    <div class="left-section">
      <div class="outer-text-area">
        <div class="inner-text-area-wrapper">
          <p class="inner-text-area" id="0">
            <span class="inner-text-area-id">
            </span>
          </p>
          <p class="inner-text-area" id="1">
            <span class="inner-text-area-id">
            </span>
          </p>
          <p class="inner-text-area" id="2">
            <span class="inner-text-area-id">
            </span>
          </p>
        </div>
      </div>
      <div class="left-banner-area"> 
      </div>
    </div>
    <!--우측상단 응원메세지-->
    <div class="top-right">
      
    </div>
    <!--하단 영역-->
    <div class="bottom-area-wrapper">
      <div class="bottom-area">
        <p class="bottom-area-text">
        </p>
      </div>
    </div>
  </body>
</html>