<html>

<head>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
  <script src='/lib/bundle.js'></script>
  <link href='/public/layout.css' rel='stylesheet'>

  <script>
    const exports = {};
  </script>
</head>

<body>
  <div class="live-commerce">
    <div class="left-section">
      <!--랭킹-->
      <div class="ranking-area">
        <p class="ranking-text-area" id="title">
          TOP 구매자
        </p> 
        <div class="ranking-area-inner">
          <img src="/public/images/podium.png" id="podium" style="width:25%;"/>
        </div>
      </div>
      <!--세로 배너-->
      <div class="left-banner-area">
        <img src="/public/images/vertical-banner-1.png" class="vertical-banner" alt="세로배너영역"/>
      </div>
    </div>
    <!-- 최상단 비회원 구매 메세지 -->
    <div class="top-wrapper">
    </div>
    <!-- 전체화면 인트로-->
    <div class="full-video">
    </div>

    <!--우측상단 응원메세지-->
    <div class="top-right-logo">
      <img src="/public/images/onadLogo.png" id="onad-logo" alt="온애드로고" />
    </div>
    <div class="top-right">
    </div>

    <!--하단 영역-->
    <div class="bottom-area-wrapper">
      <div class="bottom-area-left">
        <div style="width:5%">
        </div>
        <div class="bottom-timer">
          <img src="/public/images/clock.png" class="bottom-area-left-icon" id="clock" />
          <span id="time-hour"></span>
          <span id="hour-min-separator"> : </span>
          <span id="time-min"></span>
          <span id="min-sec-separator"> : </span>
          <span id="time-sec"></span>
        </div>
        <div class="bottom-object">
          <img src="/public/images/object.png" class="bottom-area-left-icon" />
          <div class="bottom-object-quantity">
            <span id="current-quantity">
              0
            </span>
            <span>
              /
            </span>
            <span id="quantity-object">
              100
            </span>
          </div>
        </div>
      </div>
      <div class="bottom-area-right">
        <p class="bottom-area-text">
        </p>
      </div>
    </div>
  </div>
</body>

</html>